[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/foldsearch"]
	path = bundle/foldsearch
	url = https://github.com/embear/vim-foldsearch.git
    ignore = dirty
[submodule "bundle/languagetool"]
	path = bundle/languagetool
	url = https://github.com/vim-scripts/LanguageTool.git
ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
ignore = dirty
[submodule "bundle/tlib-vim"]
	path = bundle/tlib-vim
	url = https://github.com/tomtom/tlib_vim.git
ignore = dirty
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
ignore = dirty
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
ignore = dirty
[submodule "bundle/smartput"]
	path = bundle/smartput
	url = https://github.com/vim-scripts/Smartput.git
ignore = dirty
[submodule "bundle/wordnet"]
	path = bundle/wordnet
	url = https://github.com/fncll/wordnet.vim.git
ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
ignore = dirty
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
    ignore = dirty
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
    url = https://github.com/tpope/vim-ragtag.git
    ignore = dirty
[submodule "bundle/csv"]
    path = bundle/csv
    url = https://github.com/chrisbra/csv.vim.git
    ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/spacehi"]
	path = bundle/spacehi
	url = https://github.com/vim-scripts/spacehi.vim.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
    url = https://github.com/vimwiki/vimwiki.git
    ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "bundle/renamer"]
	path = bundle/renamer
	url = https://github.com/vim-scripts/renamer.vim.git
[submodule "bundle/goyo"]
	path = bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-pantondoc"]
	path = bundle/vim-pantondoc
	url = https://github.com/vim-pandoc/vim-pantondoc.git
[submodule "bundle/vim-pandoc-after"]
	path = bundle/vim-pandoc-after
	url = https://github.com/vim-pandoc/vim-pandoc-after
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
